<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Mi Primera Pagina
    body
        h1 Bienvenidos
        h1.oedri#julina Helo

        ul
            li Item1
                a(href="#")
                    | URL
                ul
                    li SubItem1
                    li SubItem2
            li Item2
            li Item2
        
        p Lorem ipsum dolor sit amet consectetur #[a pedro] adipisicing elit. Rem enim blanditiis atque, #[span Hola cuminidad] non neque vitae minima. Earum minima omnis optio!
            img(src="", alt="", srcset="")

        script.
            alert('Hello Word')
        
        style.
            body {
                background:red
            }