// Codigo JavaScript
// Code unbuffered (no sale a HTML)
// Code buffered (si  sale a HTML)
// Con - declaras una variable scrip
- let name = 'Gohan Jesus'
p= name

- let currentPage = 'hombe'

-
    let ED = {
        ceo: 'Gohan',
        ctp: 'Jesus'
    }

body(class= currentPage)
    p= `${name}, alumno de Isil`

    p=`${ED.ceo}`